<div class="uk-workflow">
    <div class="uk-workflow-row">
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[0].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left two-way"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">REQ</span>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[1].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left two-way"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">REL1</span>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[2].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left two-way"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">AO</span>
            </div>
        </div>
        <div class="uk-workflow-node multi-level" [class.uk-workflow-node-active]="nodes[3].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left two-way"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">PA</span>
            </div>
            <div class="uk-workflow-node-route uk-workflow-node-route-top" [class.uk-workflow-node-active]="nodes[4].active">
                <div class="uk-workflow-node-object uk-workflow-node-object-left uk-workflow-node-object-connector three-step-connector">
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                        <span class="arrow-heads"></span>
                    </span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                    <span class="uk-workflow-node-text">PEER</span>
                </div>
                <div class="uk-workflow-node-object">
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical two-way">
                        <span class="arrow-heads"></span>
                    </span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                    <span class="uk-workflow-node-text">PEER</span>
                </div>
                <div class="uk-workflow-node-object uk-workflow-node-object-right hidden">
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                        <span class="arrow-heads"></span>
                    </span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                    <span class="uk-workflow-node-text">Node Text</span>
                </div>
            </div>
            <div class="uk-workflow-node-route uk-workflow-node-route-bottom" [class.uk-workflow-node-active]="nodes[5].active || nodes[6].active">
                <div class="uk-workflow-node-object uk-workflow-node-object-left">
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical two-way">
                        <span class="arrow-heads"></span>
                    </span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                    <span class="uk-workflow-node-text">IT</span>
                </div>
                <div class="uk-workflow-node-object">
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                        <span class="arrow-heads"></span>
                    </span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                    <span class="uk-workflow-node-text">RML RO</span>
                </div>
                <div class="uk-workflow-node-object uk-workflow-node-object-right uk-workflow-node-object-connector two-way five-step-connector">
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                        <span class="arrow-heads"></span>
                    </span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                    <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                    <span class="uk-workflow-node-text">Node Text</span>
                </div>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[7].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">NBS</span>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[8].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">PRISM</span>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[9].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">REQ</span>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[10].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">NBS RO</span>
            </div>
        </div>
        <div class="uk-workflow-node" [class.uk-workflow-node-active]="nodes[11].active">
            <div class="uk-workflow-node-object">
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-vertical">
                    <span class="arrow-heads"></span>
                </span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-left two-way"></span>
                <span class="uk-workflow-node-object-arrow uk-workflow-node-object-arrow-right"></span>
                <span class="uk-workflow-node-text">ARCH PA</span>
            </div>
        </div>
    </div>
</div>